.header-container{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding:0 10px;
    background: #5FD9CD;
}
.header-container div{
    flex: 1;
}
.header-title{
    color: #fff;
}